<!-- This template illustrates how to place tow differently zoomed figures side to side -->
<!DOCTYPE html>
<html>
<head>

</head>
<style type="text/css">
	img {
		display: block; max-height: 100%; max-width: 100%; object-fit: contain;
	}
</style>
<body>
<div style="position: absolute; top: 10%; display: flex; width: 100%;">
	<figure style="display: inline-block; width: 50%;">
		<div style="height: 90%; display: flex; align-items: center; justify-content: center;">
			<img src="https://blogpic.hehaorui.com/2023/09/202309031212557.jpg" alt="Trulli" style="width: 80%">
		</div>
		<figcaption style="display: block; text-align: center;">Fig.1 - Trulli, Puglia, Italy</figcaption>
	</figure>
	<figure style="display: inline-block; width: 50%;">
		<div style="height: 90%; display: flex; align-items: center;">
			<img src="https://blogpic.hehaorui.com/2023/09/202309031212557.jpg" alt="Trulli" style="width: 100%;">
		</div>
		<figcaption style="display: block; text-align: center;">Fig.2 - Trulli, Puglia, Italy</figcaption>
	</figure>
<div>
</body>
</html>
